<div class="w3-panel w3-leftbar w3-orange">
  <h4>
    ユーザ管理
  </h4>
</div>
<mat-divider></mat-divider>
<h6>{{userInfo?.name}}様の学習状況</h6>
<button mat-button (click)="onClickBack()"><mat-icon>reply</mat-icon></button>
<mat-list>
  <mat-list-item *ngFor="let course of courseList | async">
    <mat-icon matListIcon>folder</mat-icon>
    <button mat-button (click)="onClick(course)" matTooltip={{course.content}} matTooltipPosition="after"> {{course.title}}</button>
    <span matTooltip="全フェーズ数と完了数です">({{course.finishCount}} / {{course.phaseCount}})</span>
    <span class="progressbar"><ngb-progressbar type="success" [value]="course.finishCount" [max]="course.phaseCount"></ngb-progressbar></span>
  </mat-list-item>
</mat-list>
