<mat-toolbar class="header-container" color="primary">
  <span>E-learning</span>
  <span class="fill-remaining-space"></span>
  <span class="logo">SystemLamp</span>

</mat-toolbar>
<div class="w3-container main-container">
  <div class="text-right" [hidden]="userInfo==null">
    <p>{{(userInfo| async)?.name}}様</p>
    <button (click)="onClickLogout()">ログアウト</button>
  </div>
  <router-outlet></router-outlet>
</div>
<mat-toolbar class="footer-container" color="primary">
  <div class="full-width w3-center">
    <p class="w3-small">COPYRIGHT © SystemLamp inc. ALL RIGHTS RESERVED.</p>
  </div>
</mat-toolbar>


