<mat-toolbar class="header-container" color="primary">
  <span>E-learning</span>
  <span class="fill-remaining-space"></span>
  <span class="logo">SystemLamp</span>

</mat-toolbar>

<div class="w3-container main-container">
  <div class="w3-row text-right" [hidden]="userInfo==null">
    <span>{{(userInfo | async)?.name}}様</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onClickLogout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>ログアウト</span>
      </button>
      <div *ngIf="(userInfo | async)?.admin">
        <button mat-menu-item (click)="onClickManageUser()" *ngIf="displayService.presentDisplayMode!==displayService.displayMode.USER_MANAGE">
          <mat-icon>people</mat-icon>
          <span>ユーザ管理画面へ</span>
        </button>
        <button mat-menu-item (click)="onClickStudy()" *ngIf="displayService.presentDisplayMode!==displayService.displayMode.STUDY">
          <mat-icon>assignment</mat-icon>
          <span>学習コース画面へ</span>
        </button>
        <button mat-menu-item (click)="onClickStat()" *ngIf="displayService.presentDisplayMode!==displayService.displayMode.STAT">
          <mat-icon>equalizer</mat-icon>
          <span>統計画面へ</span>
        </button>
      </div>
      
    </mat-menu>
  </div>
  <router-outlet></router-outlet>
</div>
<mat-toolbar class="footer-container" color="primary">
  <div class="full-width w3-center">
    <p class="w3-small">COPYRIGHT © SystemLamp inc. ALL RIGHTS RESERVED.</p>
  </div>
</mat-toolbar>


