div.file-uploader{
  background: white;
  z-index: 1;
  position:absolute;
  height: calc(90vh * 0.74);
  width: calc(100% - 16px * 4);
  margin-left: 16px;
}
div.pdf-container{
  max-height: 74%;
  border: thin solid;
  overflow-y: auto;
}
div.zoom-in:hover{
  cursor: zoom-in;
}
div.zoom-out:hover{
  cursor: zoom-out;
}
.pdf-spinner{
  width: 50%;
  height: 100%;
}
pdf-viewer.fix-container{

  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  display: block;
}
