div.pdf-container {

  max-width: 180%;
  max-height: 75%;
  border: medium solid;
  overflow-y: auto;

}
pdf-viewer.fix-container {

  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  display: block;
}
