<div class="w3-panel w3-leftbar w3-orange">
  <h4>ユーザ管理</h4>
</div>
<mat-divider></mat-divider>
<h6>{{userInfo?.name}}様の学習状況</h6>
<h5>{{(course | async)?.title}}コース</h5>
<button mat-button (click)="onClickBack()"><mat-icon>reply</mat-icon></button>
<div class="container">
  <table class="w3-table w3-bordered">
    <mat-radio-group >
      <tr>
        <th>タイトル</th><th>所要時間</th><th>開始日時</th><th>終了日時</th>
      </tr>
      <ng-container *ngFor="let phase of phases | async">
        <tr>
          <td>
            <p matTooltip={{phase.description}} matTooltipPosition="after">{{phase.title}}</p>
          </td>
          <td>
            {{phase.time }}
          </td>
          <td class="small-text">
            {{phase.startDateTime?.toDate() | amDateFormat: 'YYYY/MM/DD HH:mm'}}
          </td>
          <td class="small-text">
            {{phase.endDateTime?.toDate() | amDateFormat: 'YYYY/MM/DD HH:mm'}}
          </td>
        </tr>
      </ng-container>
    </mat-radio-group>
  </table>
</div>
<div class="w3-padding-64">
  <button mat-stroked-button [disabled]="selectedPhase == null" (click)="onClick()">開始</button>
</div>